passwordfile.txt
ssh -i "obyokolikey.pem" ubuntu@ec2-18-222-118-105.us-east-2.compute.amazonaws.com
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
list of junior engineers and passwords
Oby xyzzzzz
ronald 12434
